{% extends 'base.html.twig' %}

{% block title %}Hello ListaController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>
        {% for name, asociados in lista %}
            <h2>{{ alias[name]}}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Carpetas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {% for tipo, carpetas in asociados %}
                            {% if tipo=='carpetas' %}
                                {% for nombre_carpeta, path in carpetas %}
                                    <div class="form-group"><a href="{{path('lista_archivos',{ruta: path, conexion: name})}}" class="btn" type="submit" >{{nombre_carpeta}}</a></div>
                                {% endfor %} </td>
                            {% endif %}
                        {% endfor %}
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Archivos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {% for tipo, archivos in asociados %}
                        {% if tipo == 'archivos' %}
                            {% for nombre_archivos, path in archivos %}
                    <li>{{ nombre_archivos }}</li>
                {% endfor %} </td
            {% endif %}
            {% endfor %}
                </tr>
                </tbody>
            </table>
            {% endfor %}
            </div>
            {% endblock %}
