{% extends 'base.html.twig' %}

{% block title %}Hello ListaController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>
        {% for name, asociados in lista %}
            <h2>{{ alias[name]}}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Carpetas</th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>
                <tbody>
                     {% for tipo, carpetas in asociados %}
                            {% if tipo=='carpetas' %}
                                {% for nombre_carpeta, path in carpetas %}
                                    <tr>
                                        <td>
                                    <div class="form-group">
                                        <a href="{{path('lista_archivos',{ruta: path, conexion: name})}}" class="btn" type="submit" >
                                            {{nombre_carpeta}}</a>
                                    </div>
                                        </td>
                                        <td>
                       <a href="{{path('borrar_carpeta',{ruta: path, conexion: name})}}" class="btn btn-primary" type="submit" >Borrar</a>
                                        </td>
                                    </tr>
                                {% endfor %} 
                            {% endif %}
                        {% endfor %}
               
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Archivos</th>
                    <th scope="col">Descargar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                {% for tipo, archivos in asociados %}
                    {% if tipo == 'archivos' %}
                        {% for nombre_archivos, path in archivos %}
                            <tr>
                                <td
                    <li>
                        {{ nombre_archivos }}
                    </li>
                    </td>
                    <td>
                    <a href="{{path('bajar',{nombreFichero: path, conexion: name})}}" class="btn btn-primary" type="submit" >Descargar</a>
                    </td>
                    <td>
                        <a href="{{path('borrar_archivo',{ruta: path, conexion: name})}}" class="btn btn-primary" type="submit" >Borrar</a>
                    </td>
                    </tr>
                {% endfor %} 
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    </div>
    {% endblock %}
